/*
  @mixin bgColor($colorofbg){
    background-color: $colorofbg;
    @if $colorofbg == $orange or $green{
      color: $white;
    }
  }
  */
* {
  padding: 0;
  margin: 0; }

body {
  background: #13213F; }

img {
  max-width: 100%; }

p {
  font-family: "Cardo", serif;
  color: #666664;
  font-size: 20px; }

h1, h2, h3 {
  font-family: "Cardo", serif;
  text-align: center;
  font-weight: 400; }

h1 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 20px; }
  h1 span.ampersan {
    color: #C54699; }

h3 {
  font-size: 30px; }

h4 {
  color: #C54699;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px; }

a {
  color: #4D84C4; }

.contentWrapper {
  max-width: 1029px;
  display: block;
  margin: 0 auto; }

.centerThis {
  margin: 0 auto;
  display: block;
  text-align: center; }

.content {
  background: #F4F4F1;
  padding: 20px; }

.nav {
  margin-left: -20px;
  position: fixed;
  bottom: 0px;
  background: #CAC7C2;
  padding-top: 10px;
  padding-bottom: 0px;
  width: 100%;
  z-index: 100; }
  .nav_block-links {
    display: none; }

img.headline {
  border: solid 5px #CAC7C2;
  margin-top: 30px;
  margin-bottom: 30px; }

.details {
  border: solid 2px #CCC7C2;
  background: #fff;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px; }
  .details p {
    color: #000000;
    padding-bottom: 20px; }
  .details_story {
    border-bottom: 2px solid #CCC7C2;
    margin-bottom: 20px; }
  .details_wedding {
    border-bottom: 2px solid #CCC7C2;
    margin-bottom: 20px; }
