// Colors
  $white: #fff;
  $black: #000000;
  $blue-navy: #13213F;
  $blue-light: #4D84C4;
  $grey: #666664;
  $grey-border: #CCC7C2;
  $grey-tan: #F4F4F1;
  $grey-medium: #CAC7C2;
  $pink: #C54699;

//Fonts 
  $serif: 'Cardo', serif;
  $sansSerif: 'Montserrat', sans-serif;

//minIns

  /*
  @mixin bgColor($colorofbg){
    background-color: $colorofbg;
    @if $colorofbg == $orange or $green{
      color: $white;
    }
  }
  */

  // Adjust top and bottom padding 
  @mixin padtopbot($padtop, $padbot){
    padding-top: $padtop;
    padding-bottom: $padbot;
  }

  // Adjust top and bottom margin
  @mixin martopbot($martop, $marbot){
    margin-top: $martop;
    margin-bottom: $marbot;
  }

// Basic Settings
  * { padding: 0; margin: 0; }

  body{
    background: $blue-navy;
  }

  img{
    max-width: 100%;
  }
  p{
    font-family: $serif;
    color: $grey;
    font-size: 20px;
  }
  h1, h2, h3{
    font-family: $serif;
    text-align: center;
    font-weight: 400;
  }
  h1{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    & span.ampersan{
     color: $pink;
    }
  }
  h3{
    font-size: 30px;
  }
  h4{
    color: $pink;
    font-size: 20px;
    font-family: $sansSerif;
    @include martopbot(20px, 20px);
  }
  a{
    color: $blue-light;
  }
  .contentWrapper{
    max-width: 1029px;
    display: block;
    margin: 0 auto;
  }
  .centerThis{
    margin: 0 auto;
    display: block;
    text-align: center;
  }

// Sections
  .content{
    background: $grey-tan;
    padding: 20px;
  }

  .nav{
    margin-left: -20px;
    position: fixed;
    bottom: 0px;
    background: $grey-medium;
    @include padtopbot(10px, 0px);
    width: 100%;
    z-index: 100;
    &_block{
      &-links{
        display: none;
      }//-links
    }//_block
  } // nav

  img.headline{
    border: solid 5px $grey-medium;
    @include martopbot(30px, 30px);
  }

  .details{
    border: solid 2px $grey-border;
    background: $white;
    padding: 20px;
    @include martopbot(30px, 30px);
    & p{
      color: $black;
      padding-bottom: 20px;
    }
    & .header{

    }
    &_story{
      border-bottom: 2px solid $grey-border;
      margin-bottom: 20px;
    }
    &_wedding{
      border-bottom: 2px solid $grey-border;
      margin-bottom: 20px;
    }
    &_hotel{}
  }
